<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>MAIN</title>
</head>
<body ng-controller="CreateCtrl">
<div class="container">
  <div>
    <!-- Nav tabs -->
    <ul class="nav nav-pills nav-justified" role="tablist">
      <li role="presentation"><a href="#standard" aria-controls="standard" role="tab" data-toggle="tab">Standard PithyURL</a></li>
      <li role="presentation"><a href="#custom" aria-controls="custom" role="tab" data-toggle="tab">Custom PithyURL</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="standard" align="center">
        <form class="form-horizontal" role="form" ng-submit="createLsUrl()">
        <div class="input-group input-group-lg">
          <textarea id="te1" class="form-control" cols="30" rows="10" placeholder="Insert here your long URL." ng-model="lsurl.long"></textarea>
        </div>
        <button type="submit" class="btn btn-success btn-lg">
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Make PithyURL!
        </button>
        </form>
      </div>
     <div role="tabpanel" class="tab-pane" id="custom" align="center">
        <form class="form-horizontal" role="form" ng-submit="createLsUrlCustom()">
        <div class="input-group input-group-lg">
          <textarea id="te2" class="form-control" cols="30" rows="10" placeholder="Insert here your long URL." ng-model="lsurl.long"></textarea>
        </div>
        <p>
        <div class="input-group center">
          <span class="input-group-addon">{{"http://"+hostname}}</span>
          <input id="in1" type="text" class="form-control" placeholder="your custom text" ng-model="lsurl.short">
        </div>
        <button type="submit" class="btn btn-success btn-lg">
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Make a custom PithyURL!
        </button>
        </form>
      </div>
    </div>
    
    	<div id="success" class="alert alert-success fade in" ng-show="done">
        <strong>Success!</strong> Here's your PithyURL : {{"http://"+hostname+createdUrl.short}}
    	</div>
    	  	
    	<div id="error" class="alert center alert-danger fade in" ng-show="error">           
        <strong>Errore!</strong>
        <br />
        {{textError}}    
 		</div>
    </div> 
  </div>
  </body>
</html>







